{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
<h2>{{ title }}</h2> 

                        {% if recipe_col %}
                        {% for r in recipe_col %}
                        <div class="jumbotron">
                                <p> <h2>{{ r.recipe.title }}</h2> </p>
                        <p>  {{ r.recipe.description }} </p>
                        <p> Ingredientes: </p> 
                        {% for i in r.ingredients %}
                        <p>  {{ i.ingredient.name }}:
                        {{ i.measure }} </p>
                          {% endfor %}
                          <div class='recipe-url'>
                          <a href="{% url 'detail' r.recipe.id %}">View More</a>
                          </div>
                        </div>
                        {% endfor %}
                        {% if q %}
                        <p>{{ q }}</p>
                          {% else %}
                          EMPTY 
                          {% endif %}
                          {% endif %}
  {% endblock %}
