{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ recipe.title }}
{% endblock %}
{% block body %}
                

                        <div class="jumbotron">
                                <p> <h2>{{ recipe.title }}</h2> </p>
                        <p>  {{ recipe.description }} </p>
                        <p> Ingredientes: </p> 
                        {% for i in ingredients %}
                        <p>  {{ i.ingredient.name }} 
                        {{ i.measure }} </p>
                          {% endfor %}
                          <a href="{% url 'index' %}">Index</a>
                          <a href="{% url 'update' recipe.id %}">Update</a>
                          <strong id="likes_count">{{ recipe.likes.count }}</strong> people liked this recipe
                          {% if user.is_authenticated %}
                          <button id="like" data-rid="{{ recipe.id }}" type="button"> like </button>
                          {% endif %}
                        </div>
                        <script src={% static 'recipes/likes.js' %}></script>
  {% endblock %}
