{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ recipe.title }}
{% endblock %}
{% block body %}
                

<div class="jumbotron">
        <p> <h2>{{ recipe.title }}</h2> </p>
        <p>  {{ recipe.description }} </p>
        <p> Ingredientes: </p> 
        {% for i in ingredients %}
                <p id='ingredient'>
                {{ i.ingredient.name }} {{ i.measure }}
                </p>
        {% endfor %}
  <strong id="likes_count">{{ recipe.likes.count }}</strong> people liked this recipe
  {% if user.is_authenticated %}
          
      {% if user in recipe.likes.all %}
      <button style='display: none;' class="btn btn-sm" id="like" data-rid="{{ recipe.id }}"  type="button"> Like </button>
      <button id='unlike' class="btn btn-primary btn-sm" data-rid="{{recipe.id}}"  type="button"> Like </button>
      {% else %}
          <button id="like" class="btn-sm" data-rid="{{ recipe.id }}"  type="button"> Like </button>
          <button style='display: none;' class="btn btn-primary btn-sm" id='unlike' data-rid="{{recipe.id}}"  type="button"> Like </button>
          {% endif %}
     {% if recipe in user.cookbooks.all %}
          <button id='remove_cookbook' class="btn btn-sm btn-primary" type="button">MyCookBook</button>
          <button id='add_cookbook' style='display: none;' class="btn btn-sm" type="button">MyCookBook</button>
     {% else %}
          <button id='remove_cookbook' style='display: none;'class="btn btn-sm btn-primary" type="button">MyCookBook</button>
          <button id='add_cookbook' class="btn btn-sm" type="button">MyCookBook</button>
          {% endif %}
  {% endif %}
</div>
<p>
  <a href="{% url 'index' %}">Index</a>
  {% if user == recipe.author %}
  <a href="{% url 'update' recipe.id %}">Update</a>
  {% endif %}
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src={% static 'recipes/likes.js' %}></script>
{% endblock %}
