{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
<h2>{{ title }}</h2> 

<form action="{% url 'index'  %}" method="get" accept-charset="utf-8">
        <input class='form-control' type="text" name="search" placeholder="find recipes!" id='search'>
        <button class='btn' style='display: none' type='submit'>find</button>
        
</form>

        {% if recipes %}
        {% for r in recipes %}
        <a href="{% url 'detail' r.id %}">
                <div class="jumbotron">
                        <p> <h2>{{r.source.title}}</h2></p>
                        <p><h3>{{ r.source.description }}</h3></p>
                        <p>Ingredientes: </p>
                        {% for i in r.source.ingredients %}
                        <p><h6>{{i.name}}: {{i.measure}}</h5></p>
                        {% endfor %}
                        </div></a>
                        {% endfor %}
                        {% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src={% static 'recipes/autocomplete.js' %}></script>

  {% endblock %}
