{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{user.username}}'s CookBook
{% endblock %}
{% block body %}

        <div class="row">
                <div class="col-sm-4">
<form action="{% url 'index'  %}" method="get" accept-charset="utf-8">
        <input class='form-control' type="text" name="search" placeholder="find recipes!" id='search'>
                </div>
        <div class='col-sm-2'>
        <button class='btn' style='' type='submit'>find</button>
        </div>
        
</form>
        </div>
        <br />
        

        {% if recipes %}
        {% for r in recipes %}
                <div class="jumbotron">
        <div class='row'> 
                <div class='col-sm-12'>
                        <h2><a class='title' href="{% url 'detail' r.recipe.id %}">{{r.recipe.title}}</a></h2>
                </div>
        </div>
        <br />
        <br />
        
        
                        <div class='row'>
                                {% if r.recipe.image %}
                                <div class='col-sm-6'>
                                        <a href="{{r.recipe.image.url}}" target="_blank">
                        <img src="{{r.recipe.image.url}}" alt="{{r.recipe.title}}" class='img-responsive'></a>
        <br />
        <br />
        {% endif %}
                                        <p><h6 style='text-align:justify;text-justify:inter-word;'>{{ r.recipe.description }}</h6></p>
                                </div>
                                <div class='col-sm-1'>
                                </div>
                                <div class='col-sm-5'>
                        <p>Ingredientes: </p>
                        {% for i in r.ingredients %}
                        <p><h6>{{i.ingredient.name}}: {{i.measure}}</h5></p>
                        {% endfor %}
                        </div>
                        </div>
        <br />
        <br />
                        <strong id="{{r.recipe.id}}">{{ r.recipe.likes.count }}</strong> likes
  {% if user.is_authenticated %}
          
      {% if user in r.recipe.likes.all %}
      <button style='display: none;' class="like btn btn-sm" id="like_{{r.id}}"
              data-rid="{{ r.recipe.id }}" data-count="{{ r.recipe.likes.count }}"
              title='like this recipe' type="button"> Like </button>
      <button id='unlike_{{r.recipe.id}}' class="unlike btn btn-primary btn-sm"
              data-rid="{{r.recipe.id}}"  data-count="{{ r.recipe.likes.count }}"
              type="button" title='remove like'> Like </button>
      {% else %}
      <button id="like_{{r.recipe.id}}" class="like btn btn-sm" data-rid="{{ r.recipe.id }}"
              data-count="{{ r.recipe.likes.count }}" type="button"> Like </button>
      <button style='display: none;' class="unlike btn btn-primary btn-sm"
              id='unlike_{{r.recipe.id}}'
              data-rid="{{r.recipe.id}}" data-count="{{ r.recipe.likes.count }}"
              type="button"> Like </button>
          {% endif %}
     {% if r.recipe in user.cookbooks.all %}
     <button id='remove_cookbook_{{r.recipe.id}}' 
             class="remove_cookbook btn btn-sm btn-primary" 
             data-rid="{{ r.recipe.id }}" type="button" 
             title='Remove from your cookbook'>MyCookBook</button>
     <button id='add_cookbook_{{r.recipe.id}}' style='display: none;' 
             class="add_cookbook btn btn-sm" 
             data-rid="{{ r.recipe.id }}"
             type="button" title='Add to your cookbook'>MyCookBook</button>
     {% else %}

     <button id='remove_cookbook_{{r.recipe.id}}' style='display: none;'
             class="remove_cookbook btn btn-sm btn-primary"
             data-rid="{{ r.recipe.id }}"
             type="button" title='Remove from your cookbook'>MyCookBook</button>
     <button id='add_cookbook_{{r.recipe.id}}' class="add_cookbook btn btn-sm"
             data-rid="{{ r.recipe.id }}"
             type="button" title='Add to your cookbook'>MyCookBook</button>
          {% endif %}
  {% endif %}
                </div>
                        {% endfor %}
                        {% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src={% static 'recipes/autocomplete.js' %}></script>
<script src={% static 'recipes/likes_index.js' %}></script>

  {% endblock %}
